#banner
  .banner_content
    %h2 Log in

    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      = f.input_field :email, :placeholder => "Email", required: false, autofocus: true
      = f.input_field :password, :placeholder=> "Password", required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

      <br>

      = f.button :submit, "Log in"

      <br>
      <br>
    = render 'devise/shared/links'
